<%-include("partials/header")-%>


  <div class="courseSection">
    <div class="details">
      <div class="left">
        <h2><%= data.date %>   <%=data.title%></h2>
          <p><%= data.content %></p>
      </div>
        <div class="right">
          <a href="/beginner/<%=batch%>/<%=day%>/zoom/<%=data.zoom%>"><img class="zoomLogo" src="/zoom.png" alt="ZoomLogo"></a>
          <a href="/beginner/<%=batch%>/<%=day%>/doc/<%=data.doc%>"><img class="docLogo" src="/doc.png" alt="DocLogo"></a>
        </div>

    </div>

  </div>
  <div class="commSection">
    <h2 class="commTitle">Comments</h2>
        <%data.comments.forEach((comment, i) => {%>
          <p class="commentsUser">@<%=comment.User%>-</p>
          <p class="comments">"<i><%= comment.Comment %>"</i></p>
        <% });%>
    <form action="/beginner/<%=batch%>/<%=day%>" method="post">
      <div class="addComment">
        <div class="mb-3">
          <h4><label for="exampleFormControlTextarea1" class="form-label add-comment">Add Comment</label></h4>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="comment"></textarea>
        </div>
        <div class="buttor">
          <button type="submit" class="btn bton btn-primary btn-lg">Add</button>
        </div>
      </div>
    </form>
  </div>
<%-include("partials/footer")-%>
